---
import Footer from '@/partials/Layout/Footer.astro';
import Navbar from '@/partials/Layout/Navbar.astro';
import { AppConfig } from '@/utils/AppConfig';
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";

import '@/styles.css';

export interface Props {
  head: {
    title: string;
    description: string;
  };
}

const {
  head: { title, description },
} = Astro.props as Props;
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='author' content={AppConfig.author} />

    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap" />
    <style>
      body, html {
        font-family: 'Inter', sans-serif !important;
      }
    </style>
  </head>
  <body>
    <Navbar />
    <main class='bg-white text-black max-w-6xl mx-auto px-5'>
      <slot></slot>
    </main>
    <Footer />
  </body>
</html>
