---
import Hero from '@/partials/Hero.astro';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';

const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title, description }}>
  <section class="flex items-center gap-16 w-full h-screen">
    <figure class="w-1/2">
      <img src="/assets/images/hero.svg" alt="">
    </figure>
    <Hero />
  </section>
</Base>
