<section class="w-1/2">
  <h1 class="text-6xl font-bold mb-2">Miguel Ángel Rodríguez</h1>
  <h2 class="text-4xl font-bold text-indigo-500 mb-5">Polyglot Software Engineer</h2>
  <p class="text-lg mb-5">I specialize in creating and designing websites that look great, load fast, and are easy to manage. That attracts users with clean, modern designs that are adaptable to any device.</p>
  <div>
    <a 
      role="button" 
      download 
      href="/assets/docs/marodriguez-curriculum.pdf" 
      class="px-6 py-2 bg-black hover:bg-white text-white hover:text-inherit border-transparent hover:border-black border-2 hover:border-2 rounded-md text-xl">Resume</a>
    <a role="button"
      href="/"
      class="px-6 py-2 bg-indigo-500 hover:bg-white rounded-md text-xl text-white hover:text-indigo-500  border-transparent hover:border-indigo-500 border-2 hover:border-2">
      Contact
    </a>
  </div>
</section>
