---
import Projects from '@/assets/projects.json'
import BentoList from '@/components/BentoList.astro';
import { Project } from '@/models/projects';
import { sortByDate } from '@/utils/date';

const projects: Project[] = Projects;

sortByDate(projects)
---

<section id="projects" class="pt-16 lg:pt-0 pb-16 lg:pb-32">
    <h2 class="text-6xl font-bold mb-8">Projects</h2>
    <BentoList projects={projects} />
</section>