---
import Projects from '@/assets/projects.json'
import ProjectDetail from '@/components/ProjectDetail.astro';
import { Project } from '@/models/projects';

const projects: Project[] = Projects;

---

<section id="projects" class="pt-16 lg:pt-0 pb-16 lg:pb-32">
    <h2 class="text-6xl font-bold mb-8">Projects</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    {
        projects.map(project => (
            <ProjectDetail project={project} />
        ))
    }
    </div>
</section>